h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
    background-color: black;
    top: 0;
    left: 0;
    overflow-y: hidden;
    height: 70px;
    width: 100%;
}

h1:hover {
    color: teal;
}

.side_navbar {
    height: 100%;
    background-color: gray;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 10;
    left: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 24px;
}

a:hover {
    color: blue;
}
h1{
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
}
.card{
    width: 50%;
    margin-left: 202px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 250px;
    margin: left;
    font-family: arial;
    margin-left: 202px;
}
.price{
    color: grey;
    font-size:22px;
}
.card button{
    border:none;
    outline: 0;
    padding:12px;
    color: white;
    background-color:black;
    text-align:center;
    cursor: pointer;
    width: 100%;
    font-size:18px;
}
.card button:hover{
    opacity: 0.7;
}

.left{
    width: 50%;
    background-color: #111;
}
.right{
    width: 50%;
    background-color: red;
}

.centered img{
    width: 150px;
    border-radius:50;
}